build/*
!build/Release/
!build/Release/**
x64/
.vs/
*.exe
!build/Release/*.exe
!installer/output/*.exe
*.obj
*.tlog
*.pdb
*.ilk
*.vcxproj
*.vcxproj.filters
*.sln
*.autogen
CMakeFiles/
cmake_install.cmake
Makefile
